/** System CSS */
.system-su--admin--bar--wrapper {
    color: #9c27b0;
    border-top: 2px solid #9c27b0;
    border-bottom: 2px solid #9c27b0;
    background-color: #fff;
    position: absolute;
    top: 0;
    width: 100%;
    height: 37px;
    z-index: 900;
}

.system-su--admin--bar--wrapper nav.navbar {
    background: transparent;
    -webkit-box-shadow: 0 0 0 0 rgba(0,0,0,0);
    box-shadow: 0 0 0 0 rgba(0,0,0,0);
    margin-bottom: 0;
    position: static;
}
.system-su--admin--bar--wrapper nav.navbar .navbar-header {
    padding-right: 5em;
}
.system-su--admin--bar--wrapper nav.navbar .navbar-header .navbar-brand {
    color: #9c27b0;
    text-transform: none;
    font-size: 1.3em;
    font-weight: bold;
    padding-top: 6px;
    padding-bottom: 6px;
    height: 40px;
    line-height: 1.8;
}
.system-su--admin--bar--wrapper nav.navbar .navbar-header .navbar-toggle {
    border-color: #9c27b0;
    position: static;
    float: left;
    margin-right: 0;
    padding: 6px;
    margin-top: 6px;
    margin-bottom: 6px;
}
.system-su--admin--bar--wrapper nav.navbar .navbar-header .navbar-toggle .icon-bar {
    background-color: #9c27b0;
}
.system-su--admin--bar--wrapper nav.navbar .navbar-collapse .nav > li > a {
    padding-top: 5px;
    padding-bottom: 5px;
    color: #9c27b0;
}
.system-su--admin--bar--wrapper nav.navbar .navbar-collapse .nav > li.active > a,
.system-su--admin--bar--wrapper nav.navbar .navbar-collapse .nav > li.active > a:focus,
.system-su--admin--bar--wrapper nav.navbar .navbar-collapse .nav > li.active > a:hover,
.system-su--admin--bar--wrapper nav.navbar .navbar-collapse .nav > li.open > a,
.system-su--admin--bar--wrapper nav.navbar .navbar-collapse .nav > li.open > a:focus,
.system-su--admin--bar--wrapper nav.navbar .navbar-collapse .nav > li.open > a:hover {
    color: #e9e9e9;
    background-color: #9c27b0;
}
.system-su--admin--bar--wrapper nav.navbar .navbar-collapse .nav > li.dropdown .dropdown-menu > li > a,
.system-su--admin--bar--wrapper nav.navbar .navbar-collapse .nav > li.dropdown .dropdown-menu > li a:hover,
.system-su--admin--bar--wrapper nav.navbar .navbar-collapse .nav > li.dropdown .dropdown-menu > li a:focus {
    color: #9c27b0;
}
.system-su--admin--bar--wrapper nav.navbar .navbar-collapse .nav > li.dropdown .dropdown-menu >.active >a,
.system-su--admin--bar--wrapper nav.navbar .navbar-collapse .nav > li.dropdown .dropdown-menu >.active a:hover,
.system-su--admin--bar--wrapper nav.navbar .navbar-collapse .nav > li.dropdown .dropdown-menu >.active a:focus {
    color: #fff;
    background-color: #9c27b0;
}

@media (max-width: 767px) {
    body.system-su--admin--bar {
        padding-top: inherit !important;
    }
    .system-su--admin--bar--wrapper {
        position: static;
        height: auto;
    }
    .system-su--admin--bar--wrapper nav.navbar .navbar-collapse {
        background-color: transparent;
    }
}

#systemUpdaterChangelogModal .dl-wrapper {
    padding: 5px;
}

#systemUpdaterChangelogModal .dl-wrapper hr {
    border-color: #ccc;
    margin-bottom: 0;
    margin-top: 5px;
}

.panel.system--site-config .list-group.owner-nav .list-group-item {
	padding: 10px 15px;
}

.panel.system--site-config .list-group.owner-nav .list-group-item.separator {
	border-left: 0 none;
	border-right: 0 none;
}

.panel.system--site-config #sOwnerConfTabContent {
	margin-top: 0;
}

/** Uplink */
.system-su--admin--bar--wrapper .uplink {
    position: absolute;
    top: 10px;
    right: 15px;
    color: red;
}

.system-su--admin--bar--wrapper .uplink.online {
    color: green;
}