/** Media-Player CSS */

.gallery-view .thumbnail-wrapper .thumbnail .media-player--wrapper,
.mediabrowser .media-content .thumbnail-wrapper .thumbnail .media-player--wrapper {
    display: none;
    height: 125px;
    position: absolute;
    top: 5px;
    right: 5px;
    left: 5px;
}

.gallery-view .thumbnail-wrapper .thumbnail .media-player--wrapper {
    height: 130px;
}

.gallery-view .thumbnail-wrapper .thumbnail .media-player--wrapper.showPlayer,
.mediabrowser .media-content .thumbnail-wrapper .thumbnail .media-player--wrapper.showPlayer {
    display: block;
}

.gallery-view .thumbnail-wrapper .thumbnail .media-player--wrapper .media-player--element,
.mediabrowser .media-content .thumbnail-wrapper .thumbnail .media-player--wrapper .media-player--element {
    height: 125px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 0;
}
.gallery-view .thumbnail-wrapper .thumbnail .media-player--wrapper .media-player--element {
    height: 130px;
}

.gallery-view .thumbnail-wrapper .thumbnail .media-player--wrapper .media-player--element .video-js,
.mediabrowser .media-content .thumbnail-wrapper .thumbnail .media-player--wrapper .media-player--element .video-js {
    height: 125px;
    max-width: 100%;
    width: 100%;
}
.gallery-view .thumbnail-wrapper .thumbnail .media-player--wrapper .media-player--element .video-js {
    height: 130px;
}

.gallery-view .thumbnail-wrapper .thumbnail .media-player--wrapper .media-player--element .video-js .vjs-big-play-button,
.mediabrowser .media-content .thumbnail-wrapper .thumbnail .media-player--wrapper .media-player--element .video-js .vjs-big-play-button {
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 40px;
}

.gallery-view .thumbnail-wrapper .thumbnail .media-player--wrapper .media-player--element .video-js.vjs-audio,
.mediabrowser .media-content .thumbnail-wrapper .thumbnail .media-player--wrapper .media-player--element .video-js.vjs-audio {
    background: transparent;
    width: 100%;
}

.gallery-view .thumbnail-wrapper .thumbnail .media-player--wrapper .media-player--element audio,
.mediabrowser .media-content .thumbnail-wrapper .thumbnail .media-player--wrapper .media-player--element audio {
    background: transparent;
    height: auto;
}


@media (min-width: 992px) {

    .mediabrowser .media-content.listview .thumbnail-wrapper .thumbnail .media-player--wrapper {
        max-height: 125px;
        height: auto;
        position: relative;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        float: left;
    }

    .mediabrowser .media-content.listview .thumbnail-wrapper .thumbnail .media-player--wrapper .media-player--toggle {
        position: absolute;
        z-index: 1;
        top: -40px;
        left: 5px;
        right: auto;
    }

    .mediabrowser .media-content.listview .thumbnail-wrapper .thumbnail .media-player--wrapper .media-player--element {
        height: 125px;
        position: static;
        z-index: 0;
    }

    .mediabrowser .media-content.listview .thumbnail-wrapper .thumbnail .media-player--wrapper.mp-audio .media-player--element {
        height: 30px;
    }

    .mediabrowser .media-content.listview .thumbnail-wrapper .thumbnail .media-player--wrapper .media-player--element .video-js {
        max-width: 100%;
    }

    .mediabrowser .media-content.listview .thumbnail-wrapper .thumbnail .media-player--wrapper.mp-audio .media-player--element .video-js {
        height: 30px;
    }

    .mediabrowser .media-content.listview .thumbnail-wrapper .thumbnail .media-player--wrapper.mp-audio .media-player--element .video-js .vjs-big-play-button {
        top: -20px;
    }

    .mediabrowser .media-content.listview .thumbnail-wrapper .thumbnail .media-player--wrapper .media-player--element audio {
        height: auto;
    }
}