/** Gallery Styles **/
.galleries-styles-preview {
    -webkit-box-shadow: 0 0 15px 5px rgba(0,0,0,0.25);
    box-shadow: 0 0 15px 5px rgba(0,0,0,0.25);
}

@media (min-width: 768px) {
    .style-header-wrapper .galleries-menu .dropdown-menu {
        left: auto;
        right: 0;
    }
}