img.lazy.loader {
    background: #fff url("../images/loader.gif") no-repeat center center;
    background-size: contain;
    width: 65px;
    height: 65px;
}

/** Media Loader **/
.mediabrowser .media-loader {
    background: #fff url("../images/loader.gif") no-repeat center center;
    background-size: contain;
    width: 65px;
    height: 65px;
    margin: 0 auto;
}

/** Upload Area **/
.mediabrowser .uploadArea .uploadActionBtns .btn {
    display: none;
    margin-bottom: 15px;
}

.mediabrowser .uploadArea #media-file-upload {
    background: #ccc;
    background: -moz-linear-gradient(-45deg,  #ca7d03 0%, #444 50%, #ca7d03 100%);
    background: -webkit-linear-gradient(-45deg,  #ca7d03 0%,#444 50%,#ca7d03 100%);
    background: linear-gradient(135deg,  #ca7d03 0%,#444 50%,#ca7d03 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfd9d2', endColorstr='#cfd9d2',GradientType=1 );

    text-align: inherit;
    padding: 15px 0 0;
    margin-bottom: 15px;
    cursor: pointer;

    border: 1px solid #ccc;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

.mediabrowser .uploadArea #media-file-upload:empty {
    background: url('../images/upload-icon.png') no-repeat center center;
    background-size: contain;
    text-align: center;
    border: 2px dashed #ccc;
    padding-bottom: 15px;
    height: auto;
}

.mediabrowser .uploadArea #media-file-upload.dz-drag-hover:empty {
    background-color: #3c763d;
    height: 250px;
}

.mediabrowser .uploadArea #media-file-upload.dz-drag-hover:not(:empty) {
    background: #3c763d;
}

.drag-hover .mediabrowser .uploadArea #media-file-upload:empty {
    height: 250px;
}

.mediabrowser .uploadArea #media-file-upload .dz-preview {
    cursor: default;
}

.mediabrowser .uploadArea #media-file-upload .dz-preview img[src=""]  {
    text-indent: -99999px;
    white-space: nowrap;
}

.mediabrowser .uploadArea #media-file-upload .dz-preview .dz-filename {
    padding-right: 15px;
    text-align: inherit;
    padding-top: 3px;
}

.mediabrowser .uploadArea #media-file-upload .dz-preview .dz-progress {
    margin-bottom: 0;
}

/** Thumbnail Elements **/
.mediabrowser .thumbnail > img,
.mediabrowser .thumbnail span.media-preview {
    height: 125px;
}

.gallery-view .thumbnail-wrapper,
.mediabrowser .media-content .thumbnail-wrapper {
    position: relative;
}
.gallery-view .thumbnail-wrapper .togglebutton,
.mediabrowser .media-content .thumbnail-wrapper .togglebutton {
    position: absolute;
    top: 0;
    left: 1em;
    z-index: 2;
}
.gallery-view .thumbnail-wrapper .togglebutton label,
.mediabrowser .media-content .thumbnail-wrapper .togglebutton label {
    padding: 0 10px 10px 15px;
}
.gallery-view .thumbnail-wrapper .togglebutton input[type="checkbox"]:not(:checked):after,
.mediabrowser .media-content .thumbnail-wrapper .togglebutton input[type="checkbox"]:not(:checked):after {
    background: #fff;
}

.gallery-view .thumbnail-wrapper.checked .thumbnail,
.mediabrowser .media-content .thumbnail-wrapper.checked .thumbnail {
    background: #ca7d03;
    border-color: #444;
    height: 155px;
}

.gallery-view .thumbnail-wrapper .thumbnail {
    height: 155px;
    position: relative;
}

.gallery-view .thumbnail-wrapper .thumbnail>img {
    max-height: 145px;
}

.gallery-view .thumbnail-wrapper .thumbnail>img.lazy.loader {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    -moz-transform: translateX(0%) translateY(-50%);
    -webkit-transform: translateX(0%) translateY(-50%);
    -o-transform: translateX(0%) translateY(-50%);
    -ms-transform: translateX(0%) translateY(-50%);
    transform: translateX(0%) translateY(-50%);
}

.gallery-list .thumbnail>img {
    max-height: 125px;
}

.thumbnail-wrapper.folder-link .thumbnail span.media-preview {
    font-size: 2em;
}

.thumbnail-wrapper.folder-link .thumbnail {
    height: auto;
    margin-bottom: 0;
}

.thumbnail span.media-preview {
    background: #ccc;
    display: block;
    font-size: 5.1em;
    text-align: center;
}

.thumbnail span.media-filename {
    color: #444;
    display: block;
    text-align: center;
    background: rgba(255, 255, 255, 0.75);

    position: absolute;
    left: 0;
    right: 0;
    bottom: 4px;
}

.thumbnail span.media-filename.mf-image {
    display: none;
}

/** Responsive **/
@media (max-width: 991px) {
    #listDirsModal [data-action="toggle_listview"] {
        display: none !important;
    }
}

@media (min-width: 992px) {
    /** List View **/
    #listDirsModal [data-action="toggle_listview"] {
        display: block;
    }
    #listDirsModal [data-action="toggle_listview"] .listviewicon {
        display: inline-block;
    }
    #listDirsModal [data-action="toggle_listview"] .gridviewicon {
        display: none;
    }
    #listDirsModal [data-action="toggle_listview"].listview .listviewicon {
        display: none;
    }
    #listDirsModal [data-action="toggle_listview"].listview .gridviewicon {
        display: inline-block;
    }

    .mediabrowser .media-content.listview .thumbnail-wrapper {
        width: 100%;
    }

    .mediabrowser .media-content.listview .thumbnail-wrapper .thumbnail {
        margin-bottom: 10px;
    }

    .mediabrowser .media-content.listview .thumbnail-wrapper .togglebutton {
        top: 15px;
        left: 0;
        position: relative;
        float: left;
        width: 5%;
    }

    .mediabrowser .media-content.listview .thumbnail-wrapper .thumbnail > img,
    .mediabrowser .media-content.listview .thumbnail-wrapper .thumbnail span.media-preview {
        max-width: 5%;
        float: left;
        margin-left: 0;
        margin-top: 13px;
        height: auto;
        max-height: 25px;
        font-size: inherit;
    }

    .mediabrowser .media-content.listview .thumbnail-wrapper .thumbnail span.media-preview > i {
        margin: 5px 10px;
    }

    .mediabrowser .media-content.listview .thumbnail-wrapper .caption {
        float: right;
        text-align: right;
        width: 90%;
        padding: 5px 5px 0;
    }

    .mediabrowser .media-content.listview .thumbnail-wrapper .caption h4 {
        float: left;
        text-align: left;
        margin: 5px 0 0;
        width: 60%;
    }

    .mediabrowser .media-content.listview .thumbnail-wrapper .caption .row {
        float: none;
        width: auto;
        margin: 0;
        display: inline-block;
    }

    .mediabrowser .media-content.listview .thumbnail-wrapper .caption .row [class*="col"] {
        width: 50%;
        padding: 5px;
    }

    .mediabrowser .media-content.listview .thumbnail-wrapper .caption .row:not(:last-child) [class*="col"] {
        padding-bottom: 8px;
    }

    .mediabrowser .media-content.listview .thumbnail-wrapper .caption .row:last-child {
        border-left: 1px solid #eeeeee;
        width: auto;
        white-space: nowrap;
    }

    .mediabrowser .media-content.listview .thumbnail-wrapper .caption .row:last-child [class*="col"] {
        width: auto;
    }

    .mediabrowser .media-content.listview .thumbnail-wrapper .caption hr {
        display: none;
    }
}

@media (min-width: 768px) {
    .mediabrowser .media-content:not(.listview) .thumbnail-wrapper .thumbnail {
        position: relative;
        min-height: 310px;
    }

    .mediabrowser .media-content:not(.listview) .thumbnail-wrapper .thumbnail > img {
        height: auto;
        max-height: 125px;
    }

    .mediabrowser .media-content:not(.listview) .thumbnail-wrapper .thumbnail .caption {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
    }
}

@media (max-width: 767px) {
    .mediabrowser .thumbnail > img {
        height: auto;
    }
}
