/** General Styles */
.action-wrapper {
    margin-bottom: 15px;
}

.change-icon > .fa + .fa,
.change-icon:hover > .fa {
    display: none;
}
.change-icon:hover > .fa + .fa {
    display: inline-block;
}