/** Folder Tree **/
.folderTree ul {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}
.folderTree ul li {
    padding-left: 1.3em;
    text-indent: 0;
}
.folderTree ul li.root {
    text-indent: -0.6em;
}
.folderTree ul li:not(.root):before {
    content: "\f07b"; /* FontAwesome Unicode */
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -1.3em; /* same as padding-left set on li */
    width: 1.3em; /* same as padding-left set on li */
}
.folderTree ul li:not(.root).active:before {
    content: "\f115"; /* FontAwesome Unicode */
}