/** Disk Usage **/
.progress.disk-usage {
    height: 23px;
    margin-bottom: 0;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}
.progress.disk-usage .progress-bar {
    background-color: #e51c23;
}
.progress.disk-usage .progress-bar:last-child.progress-bar:before {
    background-color: #c7e7c8;
}
.progress.disk-usage .progress-bar span {
    text-shadow: 0px 0px 10px #000;
    position: absolute;
    left: 0;
    right: 0;
    top: 1px;
}