/**
 * Core StyleSheet
 *
 * @system J•Frame
 * @author Jan Doll <jan_doll@gmx.de>
 * @copyright since 2008 by Jan Doll
 * All Rights Reserved
 */

/**
 * NOTICE OF LICENSE
 *
 * Unauthorized copying, sharing, adaptation, publishing, commercial usage, and/or distribution of the Software,
 * its derivatives and/or successors, via any medium, is strictly prohibited.
 *
 * The Software is deemed proprietary and confidential.
 *
 * Any intellectual property, patents and/or trademarks used in the Software are retained by their respective authors.
 */

/** import Flags */
@import "flags/flags.css";

.one-line-ellipsis {
    white-space: nowrap;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.center-vertical {
    position: absolute;
    top: 50%;
    -moz-transform: translateX(0%) translateY(-50%);
    -webkit-transform: translateX(0%) translateY(-50%);
    -o-transform: translateX(0%) translateY(-50%);
    -ms-transform: translateX(0%) translateY(-50%);
    transform: translateX(0%) translateY(-50%);
}
.modal-dialog {
    overflow: hidden;
}
.modal-pre-loader {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #fff;
}
.modal-pre-loader .loader {
    width: 100%;
}

.th-nowrap {
    white-space: nowrap;
}

.change-icon > .fa + .fa,
.change-icon:hover > .fa {
    display: none;
}
.change-icon:hover > .fa + .fa {
    display: inline-block;
}

/** FA Lock & Unlock Min Width */
.btn-group .fa-lock,
.btn-group .fa-unlock {
    min-width: 12px;
}

/** Data Tables */
div.dataTables_wrapper .dataTables_processing {
    height: auto;
    z-index: 999;
    font-size: 1.3rem;
}
div.dataTables_wrapper div.dataTables_processing:before {
    content: '';
    top: 35%;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(255,255,255,0);
    display: block;
    position: fixed;
}
div.dataTables_wrapper div.dataTables_length select {
    width: 50px;
    text-align-last: center;
}

div.dataTables_wrapper .table.dataTable thead .sorting,
div.dataTables_wrapper .table.dataTable thead .sorting_asc,
div.dataTables_wrapper .table.dataTable thead .sorting_desc,
div.dataTables_wrapper .table.dataTable thead .sorting_asc_disabled,
div.dataTables_wrapper .table.dataTable thead .sorting_desc_disabled {
    background-image: none;
}

div.dataTables_wrapper .table.dataTable thead .sorting:after,
div.dataTables_wrapper .table.dataTable thead .sorting_asc:after,
div.dataTables_wrapper .table.dataTable thead .sorting_desc:after {
    top: 1px;
    right: 0;
    display: inline-block;
    position: relative;
    margin-left: 5px;
    float: right;
}

div.dataTables_wrapper .table.dataTable thead th,
div.dataTables_wrapper .table.dataTable thead td {
    border-bottom: 2px solid #dddddd;
    padding: 5px;
    width: initial !important;
}
div.dataTables_wrapper .table.dataTable tbody th,
div.dataTables_wrapper .table.dataTable tbody td {
    padding: 5px;
}
div.dataTables_wrapper .table.dataTable.table-bordered {
    border: 1px solid #ccc;
}
div.dataTables_wrapper .table.dataTable.table-bordered.no-footer {
    border-color: #ccc;
}
div.dataTables_wrapper .table.dataTable.table-bordered > thead > tr > th,
div.dataTables_wrapper .table.dataTable.table-bordered > thead > tr > td {
    border-bottom-width: 0;
    padding: 5px;
}
div.dataTables_wrapper .table.dataTable.table-bordered > tbody > tr > th,
div.dataTables_wrapper .table.dataTable.table-bordered > tbody > tr > td {
    padding: 5px;
}
div.dataTables_wrapper .table.dataTable.table-striped > tbody > tr > td:last-child:not(.dataTables_empty) {
    text-align: right;
}
div.dataTables_wrapper .table.dataTable.table-striped > tbody > tr:nth-child(2n+1) > td,
div.dataTables_wrapper .table.dataTable.table-striped > tbody > tr:nth-child(2n+1) > th {
    /*background-color: #e6f5fc;*/
}
div.dataTables_wrapper .table.dataTable.table-hover > tbody > tr:hover > td,
div.dataTables_wrapper .table.dataTable.table-hover > tbody > tr:hover > th {
    /*background-color: #ededed;*/
}
div.dataTables_wrapper .table.dataTable.no-footer {
    border-bottom: 0 none;
}

/* pagination */
div.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0;
    margin-left: 0;
    display: inline;
}
div.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: none;
}
div.dataTables_wrapper .dataTables_paginate .paginate_button,
div.dataTables_wrapper .dataTables_paginate .paginate_button:hover,
div.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
div.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover {
    border: 0 none;
}
div.dataTables_wrapper .dataTables_paginate .pagination {
    border-radius: 0;
    display: inline-block;
    margin: 0;
    float:right;
}
div.dataTables_wrapper .dataTables_paginate .pagination > li > a,
div.dataTables_wrapper .dataTables_paginate .pagination > li > span {
    float: left;
    margin-left: -1px;
    position: relative;
    text-decoration: none;

    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
}
div.dataTables_wrapper .dataTables_paginate .pagination > li > a:hover,
div.dataTables_wrapper .dataTables_paginate .pagination > li > span:hover,
div.dataTables_wrapper .dataTables_paginate .pagination > li > a:focus,
div.dataTables_wrapper .dataTables_paginate .pagination > li > span:focus {
    outline:none;
}
div.dataTables_wrapper .dataTables_paginate .pagination > .active > a,
div.dataTables_wrapper .dataTables_paginate .pagination > .active > span,
div.dataTables_wrapper .dataTables_paginate .pagination > .active > a:hover,
div.dataTables_wrapper .dataTables_paginate .pagination > .active > span:hover,
div.dataTables_wrapper .dataTables_paginate .pagination > .active > a:focus,
div.dataTables_wrapper .dataTables_paginate .pagination > .active > span:focus {
    cursor: default;
    z-index: 2;
}
div.dataTables_wrapper .dataTables_paginate .pagination > li:first-child > a,
div.dataTables_wrapper .dataTables_paginate .pagination > li:first-child > span,
div.dataTables_wrapper .dataTables_paginate .pagination > li:last-child > a,
div.dataTables_wrapper .dataTables_paginate .pagination > li:last-child > span {
    border-radius: 0px;
}

/* datatable searchform */
.custom-search,
div.dataTables_wrapper div.dataTables_filter {
    /*display: none;*/
}

/* datatable buttons */
div.dataTables_wrapper div.dt-buttons {
}
div.dataTables_wrapper div.clear {
    width: 15px;
    display: inline-block;
}

.modal#confirm {
    background-color: rgba(0, 0, 0, 0.5);
}

.whitespace-nowrap {
    white-space: nowrap;
}

.display-flex {
    display: flex;
}

@media (max-width: 767px) {
    .center-vertical {
        position: inherit;
        top: 0;
        -moz-transform: translateX(0%) translateY(0%);
        -webkit-transform: translateX(0%) translateY(0%);
        -o-transform: translateX(0%) translateY(0%);
        -ms-transform: translateX(0%) translateY(0%);
        transform: translateX(0%) translateY(0%);
    }
}

/** Pull Left **/
@media only screen and (min-width: 768px) {
    .pull-left-sm {
        float: left;
    }
}
@media only screen and (min-width: 992px) {
    .pull-left-md {
        float: left;
    }
}
@media only screen and (min-width: 1200px) {
    .pull-left-lg {
        float: left;
    }
}

/** Pull Right **/
@media only screen and (min-width: 768px) {
    .pull-right-sm {
        float: right;
    }
}
@media only screen and (min-width: 992px) {
    .pull-right-md {
        float: right;
    }
}
@media only screen and (min-width: 1200px) {
    .pull-right-lg {
        float: right;
    }
}

/* Animations */
.pulse--red:not(.pulse--bg) {
    -webkit-animation: pulse-red-text 0.8s ease-in-out infinite alternate;
    animation: pulse-red-text 0.8s ease-in-out infinite alternate;
}
.pulse--red.pulse--bg {
    -webkit-animation: pulse-red-bg 0.8s ease-in-out infinite alternate;
    animation: pulse-red-bg 0.8s ease-in-out infinite alternate;
}

@-webkit-keyframes pulse-red-text {
    50% {
        color: #ff0000;
    }
}
@keyframes pulse-red-text {
    50% {
        color: #ff0000;
    }
}

@-webkit-keyframes pulse-red-bg {
    50% {
        background-color: #ff0000;
    }
}
@keyframes pulse-red-bg {
    50% {
        background-color: #ff0000;
    }
}